<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iceberg.password_manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/passMan"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Password_Manager"
        tools:targetApi="31">
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForgotPassword"
            android:label="@string/forgotPassword"
            android:exported="false" />
        <activity
            android:name=".DeletePassword"
            android:exported="false" />
        <activity
            android:name=".AddPassword"
            android:label="@string/addapw"
            android:exported="false" />
        <activity
            android:name=".EditViewPassword"
            android:label="@string/evpw"
            android:exported="false" />
        <activity
            android:name=".Passwords"
            android:label="@string/passwords"
            android:exported="false" />
        <activity
            android:name=".EditViewDevice"
            android:label="@string/device"
            android:exported="false" />
        <activity
            android:name=".ApproveOrDenyDevice"
            android:label="@string/approve"
            android:exported="false" />
        <activity
            android:name=".DeleteDevice"
            android:label="@string/delDev"
            android:exported="false" />
        <activity
            android:name=".PasswordListBuilder"
            android:label="@string/loading"
            android:exported="false" />
        <activity
            android:name=".Devices"
            android:label="@string/devices"
            android:exported="false" />
        <activity
            android:name=".DeviceListBuilder"
            android:label="@string/loading"
            android:exported="false" />
        <activity
            android:name=".NotApprovedYet"
            android:label="@string/notApprovedYet"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false"
            android:label="@string/register" />
        <activity
            android:name=".SignIn"
            android:exported="false"
            android:label="@string/signIn"/>
    </application>

</manifest>